<div class="container mt-3">
  <div class="title">
    Deployer Plugin
    <div class="sub-title">
      Plugin para deploy de bots e sub-bots
    </div>
  </div>
  <div class="mt-3">
    <mat-card class="card col-md-12 alternate-theme">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon mr-2">build</mat-icon>
            Configurações
          </ng-template>
          <app-load></app-load>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
